<mat-toolbar color="primary">
  <div class="toolbar">
    <div class="left">
      <ng-container *ngIf="!isSM">
        <button mat-icon-button (click)="handleOpenDrawer()">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>
      <a class="title" [routerLink]="['/']">KN Animal Rescue</a>
    </div>
    <div *ngIf="isSM" class="right">
      <button mat-icon-button (click)="handleCreateBtn()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <app-menu-social></app-menu-social>
      <app-menu-theme
        (changeTheme)="handleChangeTheme($event)"
      ></app-menu-theme>
      <app-menu-lang (changeLang)="handleChangeLang($event)"></app-menu-lang>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer class="drawer-menu" mode="over" [opened]="isOpenedDrawer">
    <mat-selection-list [multiple]="false">
      <mat-list-option (click)="handleCreateBtn()">{{
        "pages.create" | i18kn
      }}</mat-list-option>
      <app-switch-theme
        (changeTheme)="handleChangeTheme($event)"
      ></app-switch-theme>
      <app-switch-lang
        (changeLang)="handleChangeLang($event)"
      ></app-switch-lang>
      <mat-divider></mat-divider>
      <mat-list-option
        *ngFor="let social of socialList"
        (click)="handleClickSocial(social.id)"
      >
        <fa-icon [icon]="social.icon"></fa-icon>
        <span class="label">{{ social.id }}</span>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <div *ngIf="isLoading$ | async" class="overlay">
      <mat-spinner diameter="64"></mat-spinner>
    </div>
    <div class="cont">
      <div class="main">
        <ng-content select="[main]"></ng-content>
      </div>
      <div class="footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
